/* HTML Elements ----------------------- */
img {
    width: 100%;
    height: auto;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
    border-style: solid;
    border-color: black;      
}

li {
    list-style: none;
    text-align: center;
}

footer {
    text-align: right;
}
