/* HTML Elements ----------------------- */
img {
    width: 100%;
    height: auto;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*ul {
    border-style: solid;
    border-color: black;      
}*/

li {
    list-style: none;
    text-align: center;
}

footer {
    text-align: right;
}

/* Class Elements ----------------------- */
.pricing {
    border-style: solid;
    border-color: black;
    padding: 25px 50px;
    text-align: center;      
}

/* ID Elements ----------------------- */
#contact {
    text-align: left;
    padding-top: 25px;
}

#about {
    padding-top: 25px;
}

#content {
    padding-bottom: 25px;
}
 #form {
    border-style: solid;
    border-width: 2px;
    border-color: lightgrey;
 }
